<link rel='stylesheet' href='/stylesheets/indexP.css' />
<div class='box fBox'>
    <div class='logoBox'>
        <img src='/images/logo.png' />
        <p>Diabetes@Home</p>
    </div>
    <div class='logCon'>
        <h2>Clinicians board </h2>
        <div class='logBtnBox'>
            <a href='/general/clinicianLoginForm'><button>Log in</button></a>
            <a href='/general/clinicianRegister'><button>Register</button></a>
        </div>
    </div>
    <div class='footer'>
        <a href='/general/home'>
            <img src='/images/home1.png' alt='' />
        </a>
        <a href=''></a>
        <a href=''></a>
    </div>
</div>
<script src='/javascripts/clinicianController.js'></script>