<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/media.css' />
<div class='box fBox'>
    <div class='header'>
        <h2>Dashboard</h2>
    </div>
    <div class='dashboardBox'>
        <div class='dashboardCon'>
            <a href='/general/login' class='dashboardItem'>
                <img src='/images/img1.png' alt='' />
                <p>Homepage</p>
            </a>
            <a href='/general/record' class='dashboardItem'>
                <img src='/images/img2.png' alt='' />
                <p>Record Data</p>
            </a>
            <a href='/general/healthy' class='dashboardItem'>
                <img src='/images/img3.png' alt='' />
                <p>View Data</p>
            </a>
            <a href='/general/leaderBoard' class='dashboardItem'>
                <img src='/images/img4.png' alt='' />
                <p>Leader Board</p>
            </a>
        </div>
        <img src='/images/Illustration1.png' alt='' />
    </div>
    <div class='footer'>
        <a href=''>
            <img src='/images/home.png' alt='' />
        </a>
        <a href='/general/healthy'>
            <img src='/images/database.png' alt='' />
        </a>
        <a href='/general/profile'>
            <img src='/images/profile.png' alt='' />
        </a>
        <form action='/general/logout' method='post'>
            <button type='submit'>
                <img src='/images/exit.png' alt='' />
            </button>
        </form>
    </div>
</div>