<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/media.css' />
<div class='box pBox'>
    <div class='cardBox'>
        <h2 class='title'>Some knowledge about diabetes</h2>
        <div class='videoBox'>
            <!-- <video src="https://www.youtube.com/embed/wZAjVQWbMlE" autoplay controls></video> -->
            <iframe
                src='https://www.youtube.com/embed/wZAjVQWbMlE'
                title='YouTube video player'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                allowfullscreen
            ></iframe>
        </div>
    </div>
    <div class='cardBox'>
        <h2 class='title'>Let's know about diabetes!</h2>
        <div class='card'>
            <p class='mb10'>Diabetes is a chronic (long-lasting) health
                condition that affects how your body turns food into energy.</p>
            <p class='mb10'>Most of the food you eat is broken down into sugar
                (also called glucose) and released into your bloodstream. When
                your blood sugar goes up, it signals your pancreas to release
                insulin. Insulin acts like a key to let the blood sugar into
                your body’s cells for use as energy.</p>
            <p class='mb10'>If you have diabetes, your body either doesn’t make
                enough insulin or can’t use the insulin it makes as well as it
                should. When there isn’t enough insulin or cells stop responding
                to insulin, too much blood sugar stays in your bloodstream. Over
                time, that can cause serious health problems, such as heart
                disease, vision loss, and kidney disease.</p>
            <p class='mb10'>There isn’t a cure yet for diabetes, but losing
                weight, eating healthy food, and being active can really help.
                Taking medicine as needed, getting diabetes self-management
                education and support, and keeping health care appointments can
                also reduce the impact of diabetes on your life.</p>
            <p class='mb30'>There are three main types of diabetes: type 1, type
                2, and gestational diabetes (diabetes while pregnant).</p>
            <p>Type 1 Diabetes</p>
            <p class='mb10'>Type 1 diabetes is thought to be caused by an
                autoimmune reaction (the body attacks itself by mistake) that
                stops your body from making insulin. Approximately 5-10% of the
                people who have diabetes have type 1. Symptoms of type 1
                diabetes often develop quickly. It’s usually diagnosed in
                children, teens, and young adults. If you have type 1 diabetes,
                you’ll need to take insulin every day to survive. Currently, no
                one knows how to prevent type 1 diabetes.</p>
            <p>Type 2 Diabetes</p>
            <p class='mb30'>With type 2 diabetes, your body doesn’t use insulin
                well and can’t keep blood sugar at normal levels. About 90-95%
                of people with diabetes have type 2. It develops over many years
                and is usually diagnosed in adults (but more and more in
                children, teens, and young adults). You may not notice any
                symptoms, so it’s important to get your blood sugar tested if
                you’re at risk. Type 2 diabetes can be prevented or delayed with
                healthy lifestyle changes, such as losing weight, eating healthy
                food, and being active</p>
        </div>
    </div>
    <div class='cardBox'>
        <h2 class='title'>Some useful links:</h2>
        <div class='card'>
            <a
                href='https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes'
            >https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes</a>
        </div>
        <div class='card'>
            <a
                href='https://gh.bmj.com/content/3/4/e000891'
            >https://gh.bmj.com/content/3/4/e000891</a>
        </div>
        <div class='card'>
            <a
                href='https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-017-4459-5'
            >https://bmcpublichealth.biomedcentral.com/articles/10.1186/s12889-017-4459-5</a>
        </div>
        <div class='card'>
            <a
                href='https://www.hindawi.com/journals/jdr/2020/1239735/'
            >https://www.hindawi.com/journals/jdr/2020/1239735/</a>
        </div>
    </div>
    <div class='footer'>
        <a href=''></a>
        <a href='/general/login'>
            <img src='/images/home.png' alt='' />
        </a>
        <a href=''></a>
    </div>
</div>