<link rel='stylesheet' href='/stylesheets/indexP.css' />
<div class='box wBox'>
    <div class='logoBox'>
        <img src='/images/logo.png' />
        <p>Diabetes@Home</p>
    </div>
    <img class='artwork' src='/images/Artwork.png' alt='' />
    <div class='rightBox'>
        <div class='homeCon'>
            <p>Welcome to</p>
            <p class='r'>Diabetes@home</p>
        </div>
        <p>We focused on providing high</p>
        <p>quality service.</p>
        <div class='fillBox'>
            <a href='/general/login'>If You Are Patient</a>
            <a href='/general/clinicianLogin'>If You are Clinician</a>
        </div>
    </div>
</div>
<script src='/javascripts/clinicianController.js'></script>