<base href='/' />
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/media.css' />
<div class='box'>
    <div class='logoBox'>
        <img src='/images/logo.png' />
        <p>Diabetes@Home</p>
    </div>
    <div class='logRight'>
        <button type='button'><a href='/general/diabetes'>About diabetes</a></button>
        <button type='button'><a href='/general/website'>About this website</a></button>
    </div>
    <div class='logCon'>
        <div>
            <p>Welcome to</p>
            <p class='r'>Diabetes@home</p>
        </div>
        <img src='/images/Illustration.png' />
        <button type='button'><a href='/general/loginForm'>Log in</a></button>
        <div>
            <p>Trust Yourself</p>
            <p class='r'>Everyday !!!</p>
        </div>
    </div>
</div>