<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/media.css' />
<div class='box fBox'>
    <div class='logForm'>
        <h2>Reset password</h2>
        <form class='formBox' action='/general/resetPassword' method='post' accept-charset='utf-8' onsubmit="return false">
            <input type='password' class="cur_password" name='cur_password' placeholder='Enter your current password' />
            <input type='password' class="new_password" name='new_password' placeholder='Enter your new password' />
            <input type='password' class="confirm_password" name='confirm_password' placeholder='Confirm your new password' />
            <div class='rememberBox'></div>
            <div class='logBtn'>
                <input class='btn' type='submit' value='Reset' />
            </div>
        </form>
    </div>
</div>
<div class='footer'>
    <a href='/general/dashboard'>
        <img src='/images/home.png' alt='' />
    </a>
    <a href='/general/healthy'>
        <img src='/images/database.png' alt='' />
    </a>
    <a href=''>
        <img src='/images/profile.png' alt='' />
    </a>
    <form action='/general/logout' method='post'>
        <button type='submit'>
            <img src='/images/exit.png' alt='' />
        </button>
    </form>
</div>
</div>
<script src="/javascripts/jquery.js"></script>
<script>
    $(".logBtn .btn").click(()=>{
        let data={
            cur_password:$(".cur_password").val(),
            new_password:$(".new_password").val(),
            confirm_password:$(".confirm_password").val(),
        }
        $.ajax({
            type: "POST",
            url: '/general/resetPassword',
            data,
            success: function(res){
                console.log(res);
                if(res.errno == '-1'){
                    alert(res.message)
                }else{
                    window.location.href="/general/login"
                }
            }
        });
    })
</script>