<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/media.css' />
<div class='box pBox'>
    <div class='cardBox'>
        <h2 class='title'>Who build this website</h2>
        <div class='card'>
            <h2>Zihao Rui</h2>
            <h2>Longyu Hua</h2>
            <h2>Yiheng Chen</h2>
            <h2>Hongyu Su</h2>
            <h2>Shengchen Jin</h2>
        </div>
    </div>
    <div class='cardBox'>
        <h2 class='title'>What kind of service the website provide</h2>
        <div class='card'>
            <h3>Help diabetics monitor blood sugar, facilitate communication
                between patients and doctors, record patient data (blood sugar,
                weight, exercise),so doctors can supervise patient</h3>
        </div>
    </div>
    <div class='logBox'>
        <h1><a href='/general/login'>Log in </a><span>to access more</span></h1>
    </div>
    <div class='footer'>
        <a href=''></a>
        <a href='/general/login'>
            <img src='/images/home.png' alt='' />
        </a>
        <a href=''></a>
    </div>
</div>